h1{
    color: crimson;
    text-align: center;
    font-family: fantasy;
    font-size: medium;
    padding: 0%;
}
.imagen{
    float: left;
    height: 50px;
    margin: 8px;
}
.Hola{
    border: 3px solid red;
    text-align: center;
    margin: auto;
    color: red;
    background-color: black;
}
.texto{
    background-color: white;
    text-align: left;
    color:darkblue;
    padding: 15px;
}
.hechoconamor{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
footer{
    margin-top: 10px;
    border: 5px solid red;
    background-color: black;
    
}